CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
8086
8086.cbp
unitTests
*.a
build*
.vscode
*.d
*.ninja*
.cache/
.idea/
.utils/
.cmake/
libraries/
